#logo {
    text-align: center;
}

#page{
    text-align: center;
    padding: 0px 30% 0px 30%;
}

#btn-log{
    width: 200px;
}


#btn-reg{
    width: 200px;
}
input{
    text-align: center;
}

#passwordConfirm{
    color: red;
}