.container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 5px;
    margin: 10px 0;
    width: 100%;
    max-width: 2000px;
    margin-left: 150px;
    height: 150px;
}

/* Darker chat container */
.darker {
    border-color: #ccc;
    background-color: #ddd;
}

/* Clear floats */
.container::after {
    content: "";
    clear: both;
    display: table;
}

/* Style images */
.container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

/* Style the right image */
.container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
}

/* Style time text */
.time-right {
    float: right;
    color: #aaa;
}

/* Style time text */
.time-left {
    float: left;
    color: #999;
}

#page {
    text-align: center;
    padding: 0px 30% 0px 30%;
}

.send {
    display: flex;
    justify-content: space-between;
}

.txt {
    width: 500px;
}
#messages{
    height: 150px;
    width: 100%;
}

#escape{
    font-size: 21px;
    float: right;
    text-decoration: none;
}
i{
    z-index: 999;
    font-size: 15px;
}